h1 {
  color: white;
}
.light {
 color: #d3b44c;
}
.medium {
color: #bc6c16;
}
.strong {
color: #871816;
}
body {

  background-image: url(../images/background.jpg);
  background-repeat: cover;
  background-size: 100%;

}
label {
  color: #003300;
}


h3{
color: black;
}

.agePreference, .dietPreference, #addnewAnimal{
    margin-left: 150px;
}

.well{
    background-color: green;
    color: white;
}

select{
    background-color: #cc9900;
}

.btn-primary{
    background-color: #cc9900;
}

input{
    color: green;
}

.form-control{
    width: 30%;
}

.form-group{
   margin-left: 150px;
}



